/* .lsd{
    background-image: url(C:\Users\dell\Desktop\abhishek\react-app\src\component\img\pexels-johannes-plenio-1103970.jpg);
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat, repeat;
margin-top: 40px;
    
}
#f9{
    
    margin-top: 5%;

}
#f10{
 border: 5px solid black;
 height: 350px;
 width: 300px;
 
} */
.row{
    margin-top: 100px;
}
#f6{
    margin-left: 280px;
}
